.page-header__icon,
.page-header__title {
  display: inline-block;
  vertical-align: middle;
  margin: 0.7rem 0.3rem 0 0;
}

.page-header__icon {
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
}

.posts {
  list-style: none;
  padding: 0;
}

.posts__item {
  margin: 0.7rem 0;
  font-size: 1.1rem;
}

.posts__date {
  font-size: 0.9rem;
}
