@import 'site.css';

.page-header__icon,
.page-header__title {
  display: inline-block;
  vertical-align: middle;
  margin: .7rem .3rem .7rem 0;
}

.page-header__icon {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
}

.posts {
  list-style: none;
  padding: 0;
}

.posts__item {
  margin: .7rem 0;
  font-size: 1.1rem;
}

.posts__date {
  font-size: .9rem;
}
