html {
  font-size: 17px;
}

body {
  font-family: 'Noto Serif CJK JP', YuMincho, 'Yu Mincho', serif;
  font-weight: 500;
  background-color: #fffffc;
  color: #444;
  margin: 0 auto;
  padding: 0 1rem;
}

h1, h2 {
  font-weight: 600;
}

h1 {
  font-size: 1.7rem;
}

h2 {
  font-size: 1.3rem;
}

ul, ol {
  padding: 0 0 0 2rem;
}

pre,
blockquote {
  border-left: .2rem solid #ddd;
}

pre {
  padding: .5rem 1rem;
  line-height: 1.3;
  overflow-x: scroll;
}

pre,
code {
  font-family: 'Ubuntu Mono', monospace;
  background-color: #f6f6f6;
}

blockquote {
  margin: 0;
  padding: 0 0 0 .5rem;
}

img {
  max-width: 100%;
}

a,
a:visited {
  color: #079;
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  text-decoration: underline;
}
