.image-link {
  display: block;
  margin: 1rem auto;
}

.image-link img {
  width: auto;
  height: auto;
  max-height: 20rem;
}

.code-block__language-label {
  display: inline-block;
  padding: 0.1rem 0.3rem;
  background-color: #666;
  color: #fffffe;
  font-size: 0.8rem;
  font-family: "Ubuntu Mono", monospace;
  font-weight: 600;
}

.code-block__language-label+pre {
  margin-top: 0;
}

.collapsible__toggle {
  display: none;
}

.collapsible__label {
  display: inline-block;
}

.collapsible__label:hover,
.collapsible__label:focus,
.collapsible__label:active {
  text-decoration: underline;
}

.collapsible__label::before {
  content: ">";
  display: inline-block;
  margin-right: 0.5rem;
  transition: transform 0.1s ease-out;
}

.collapsible__toggle:checked+.collapsible__label::before {
  transform: rotate(90deg);
}

.collapsible__content {
  margin-top: 0.5rem;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.1s ease-in-out;
}

.collapsible__toggle:checked+.collapsible__label+.collapsible__content {
  max-height: 50rem;
}

@media (prefers-color-scheme: light) {
  .image-link img {
    box-shadow: 0 0 0.5rem #ddd;
  }
}

.code--comment {
  color: #999;
}

.code--keyword {
  color: rgb(202, 95, 95);
}