@import '../style.css';

.navigation {
  padding-top: .5rem;
  border-bottom: .1rem solid #ddd;
}

.loading-screen {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  line-height: 95vh;
  text-align: center;
  animation: fade-in linear .3s;
}

.loading-screen__loading-emoji {
  display: inline-block;
  font-size: 5rem;
  animation: shaking .2s infinite;
}

.error-screen {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  line-height: 95vh;
  text-align: center;
}

.error-screen__status-code {
  display: inline-block;
  font-size: 5rem;
}

.code-block__language-label {
  display: inline-block;
  padding: .1rem .3rem;
  background-color: #777;
  color: #fffffe;
  font-size: .8rem;
  font-family: 'Ubuntu Mono', monospace;
  font-weight: 600;
}

.code-block__language-label + pre {
  margin-top: 0;
}

@keyframes shaking {
  0%   { transform: translate(0px, 0px) rotateZ(0deg)}
  25%  { transform: translate(2px, 2px) rotateZ(1deg)}
  50%  { transform: translate(0px, 2px) rotateZ(0deg)}
  75%  { transform: translate(2px, 0px) rotateZ(-1deg)}
  100% { transform: translate(0px, 0px) rotateZ(0deg)}
}

@keyframes fade-in {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
